.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.auth-form-container {
    width: 420px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
  }
  
  .auth-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .auth-tabs button {
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid transparent;
    background: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .auth-tabs .active {
    border-bottom: 2px solid #007bff;
  }
  
  .auth-form .form-group {
    margin-bottom: 15px;
  }
  
  .auth-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .auth-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .auth-form .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .auth-form .form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-form .form-buttons button[type="submit"] {
    background-color: #28a745;
    color: white;
    width: 100%;
  }
  